body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav--text {
  font-size: 22px;
}
.nav--logo-container {
  align-items: center;
  display: flex;
  -webkit-box-shadow: 0 4px 6px -6px rgba(129, 129, 129, 0.473);;
  -moz-box-shadow: 0 4px 6px -6px rgba(129, 129, 129, 0.473);;
  box-shadow: 0 4px 6px -6px rgba(129, 129, 129, 0.473);;
}
.nav--img {
  width: 40px;
  margin: 0.5rem 0.8rem 0.5rem 2rem;
}
.hero--section-container, .section--card {
  margin: 2rem;
}
.hero--images-container {
  display: flex;
  justify-content: center;
}
.hero--img {
  margin: 2rem;
  width: 150px;
  border-radius: 1rem;
}
.hero--title {
  margin: 2rem;
  font-size: 22px;
  color:rgba(43, 43, 43, 0.473);
}
.hero--text {
  margin: 2rem;
  font-size: 18px;
  color:rgba(82, 82, 82, 0.473);
}

.section--card {
  margin: 4rem;
  display: flex;
  justify-content: center;
  width: 150px;
  flex-wrap: wrap;
}
.section--card--rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}
.section--card__img {
  width: 100%;
  border-radius: 2rem;
}

.section--card--rating__star-img {
  width: 0.85rem;

}
.section--card-rating__text {
  font-size: 0.8rem;
  font-weight: 500;
  margin-left: 0.4rem;
}
.section--card__description {
  color:rgba(82, 82, 82, 0.473);
  font-size: 14px;
text-align: center;
}